@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@keyframes growPill {
  from {transform: scale(0.5);opacity: 0;}
  to {transform: scale(1);opacity: 1;}
}

.grow {
  animation: growPill 0.3s ease-out forwards;
}

@keyframes shrinkPill {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.5);
    opacity: 0;
  }
}

.shrink {
  animation: shrinkPill 0.3s ease-in forwards;
}
:root{
  background-color: dimgrey;
  box-sizing: border-box;
}
html{
  box-sizing: border-box;
}
.pepe{
  border: solid 1px blue;
}
.pepes{
  border: solid 3px green;
}
.pepa{
  border: solid 1px red;
}
.pepas{
  border: solid 3px red;
}
.scroll-custom {
  scrollbar-width: thin;
}

/* Para navegadores basados en WebKit */
.scroll-custom::-webkit-scrollbar {
  width: 10px;
}

.scroll-custom::-webkit-scrollbar-track {
  background: gray;
}

.scroll-custom::-webkit-scrollbar-thumb {
  border-radius: 20px;
}