.tableExcel {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
}

.tableExcel th,
.tableExcel td {
  min-width: 200px;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.tableExcel th {
  background-color: #f2f2f2;
  color: black;
}

.tableExcel tr:nth-child(even) {
  background-color: #f9f9f954;
}

.tableExcel tr:hover {
  background-color: #dddddd3d;
}